@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Unbounded:wght@300;400;700&display=swap');

html {
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
    font-family: 'Unbounded', cursive;
}

p {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
}

a:hover {
    transition: ease-in .2s;
    border-color: currentColor;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #eef2f5;
        color: #121a20;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121a20;
        color: #9eb6ca;
    }
}